body {
    margin: 0px;
    padding: 0px;
    background-color: #f3f5fc;
    font-family: 'Montserrat', sans-serif;
}

    

.encriptador {
    margin: auto;
    width: 70%;
    height: 580px;
    padding: 5px;
}

.logotipo {
    width: 100%;
    float: left;
}

.logotipoAlura {
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
}

.textoIzquierdo {
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
}

.cuadroTexto {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0a3871;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #f3f5fc;
}

.textoDerecho {
    float: right;
    width: 30%;
    height: 90%;
    border-radius: 24px;
    background-color: white;
}

.imagenDerecha {
    margin-top: 20%;
    width: 90%;
    height: auto;
    margin-left: 2%;
}

.textoDerecha {
    text-align: center;
    
    font-weight: bold;
}

.cuadroTextoAreaDerecho {
    display: block;
    margin: auto;
    color: #0a3871;
    width: 80%;
    height: 24%;
    border: none;
    border-radius: 10%;
    outline: none;
    font-size: 15px;
    text-align: center;
    margin-top: 5%;
}

.copiar {
    margin-left: 10%;
    margin-top: 90%;
    width: 80%;
    height: 10%;
    background-color: #d8dfe8;
    border-radius: 24px;
    display: none;
    box-sizing: border-box;
}

.copiar:active {
    background-color: transparent;
    box-shadow: 5px 5px 8px 1px black;
}

.leftButton {
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    text-align: center;
    
}

.leftButton p {
    margin-left: 10%;
    margin-bottom: 3%;
    text-align: center;
}


.botonEncriptar {
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background-color: #0a3871;
    color: white;
}


.botonEncriptar:active {
    background-color: transparent;
    box-shadow: 5px 5px 8px 1px black;
    color: black;
}

.botonEncriptar:active {
    background-color: transparent;
    box-shadow: 5px 5px 8px 1px black;
}

.botonDesencriptar:active {
    background-color: transparent;
    box-shadow: 5px 5px 8px 1px black;
    color: black;
}

.botonDesencriptar {
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background-color: #d8dfe8;
}

.botonDesencriptar:active {
    background-color: transparent;
    box-shadow: 5px 5px 8px 1px black;
}

footer {
    font-size: 10px;
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
}

@media screen and (max-width: 650px) {
    .encriptador {
        margin: auto;3
        width: 80%;
        padding: 5px;
    }

    .logotipoAlura {
        margin-top: 2%;
        float: inherit;
        margin-left: 1%;
    }

    .textoIzquierdo {
        display: block;
        float: left;
        width: 100%;
        border-radius: 24px;
    }

    .leftButton {
        position: relative;
        bottom: 600px;
        width: 100%;
        border-radius: 24px;
    }

    .botonEncriptar {
        display: inline;
        width: 39%;
    }

    .botonDesencriptar {
        display: inline;
        width: 39%;
        text-align: center;
    }

    .textoDerecho {
        display: block;
        position: relative;
        top: 250px;
        width: 100%;
        height: 700px;
        border-radius: 24px;
        background-color: white;
    }

    .imagenDerecha {
        display: block;
        width: 50%;
        margin: 50px auto;
        text-align: center;
    }
    
    .copiar {
        margin-top: 80%;
    }

    footer {
        position: absolute;
        top: 1400px;
        left: 20%;
        right: 20%;
        font-size: 15px;
    }
}

